p {
  margin: 0;
}

* {
  box-sizing: border-box;
  --main-blue-478-bf-9: #478bf9;
  --main-navy-blue-110-a-1-d: #110a1d;
  --main-clean-white-ffffff: #fff;
  --additional-purple-9-dadf-2: #9dadf2;
  --transp-white-white-60: rgba(255, 255, 255, 0.6);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1920px;
}

.header {
  margin-top: 16px;
  margin-bottom: -112px;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1640px;
  margin: 0 auto;
  padding: 20px 48px;
  border-radius: 64px;
  border: 4px solid var(--main-blue-478-bf-9);
  background: var(--main-navy-blue-110-a-1-d);
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__list__link {
  text-decoration: none;
  color: var(--main-clean-white-ffffff);
  line-height: 20px;
  transition: 0.3s;
}

.navigation__list__link:hover,
.navigation__list__link:focus,
.navigation__list__link:active {
  opacity: 65%;
}

.buttons-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}

.button {
  display: flex;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 2px solid var(--additional-purple-9-dadf-2);
  background: var(--main-navy-blue-110-a-1-d);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.button__text {
  color: var(--main-clean-white-ffffff);
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.button_active {
  border: 2px solid var(--main-blue-478-bf-9);
  background: var(--main-blue-478-bf-9);
}

.main {
  position: relative;
  background: var(--main-navy-blue-110-a-1-d);
  overflow: hidden;
}

.main__wrapper {
  max-width: 1920px;
  margin: auto;
  padding: 0 140px;
}

.banner-area {
  margin-top: 112px;
  height: 1048px;
  display: flex;
}

/* .main::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    180deg,
    #fff 63.64%,
    rgba(255, 255, 255, 0) 95.45%
  );
  opacity: 0.2;
  z-index: 3;
} */

.light-area_circle {
  position: absolute;
  top: 682px;
  right: -159px;
  width: 574px;
  height: 574px;
  flex-shrink: 0;
  border-radius: 574px;
  opacity: 0.7;
  background: var(
    --main-blue-hover,
    linear-gradient(256deg, #478bf9 0%, #9dadf2 100%)
  );
  -webkit-filter: blur(325px);
  filter: blur(325px);
}

.light-area_oval {
  position: absolute;
  top: -140px;
  left: 200px;
  width: 226.458px;
  height: 1302.469px;
  transform: rotate(-54.311deg);
  flex-shrink: 0;
  background: url(./assets/light.svg);
  opacity: 0.55;
  -webkit-filter: blur(150px);
  filter: blur(150px);
}

.title-block {
  margin-top: 296px;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.title-block__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  font-weight: 500;
}

.title {
  margin: 0;
  font-size: 9.6rem;
  line-height: 96px;
  color: var(--main-clean-white-ffffff);
}

.colortext {
  color: var(--main-blue-478-bf-9);
}

.text {
  font-size: 3.2rem;
  line-height: 32px;
  color: var(--transp-white-white-60);
}

.title-block__button {
  display: flex;
  padding: 20px 72px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  background: var(--main-blue-478-bf-9);
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}

.banner-block {
  margin-top: -39px;
  margin-left: 42px;
  display: flex;
  gap: 18px;
}

.first-line,
.second-line,
.third-line {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.first-line {
  -webkit-animation: first-animation 7s infinite linear;
  animation: first-animation 7s infinite linear;
  opacity: 0.2;
}

.second-line {
  -webkit-animation: second-animation 7s infinite linear;
  animation: second-animation 7s infinite linear;
  margin-top: 47px;
  opacity: 0.6;
}

.third-line {
  -webkit-animation: third-animation 7s infinite linear;
  animation: third-animation 7s infinite linear;
  margin-top: 39px;
  opacity: 0.4;
}

@-webkit-keyframes first-animation {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes first-animation {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes second-animation {
  0% {
    margin-top: -103px;
  }
  50% {
    margin-top: 47px;
  }
  100% {
    margin-top: -103px;
  }
}

@keyframes second-animation {
  0% {
    margin-top: -103px;
  }
  50% {
    margin-top: 47px;
  }
  100% {
    margin-top: -103px;
  }
}

@-webkit-keyframes third-animation {
  0% {
    margin-top: 39px;
  }
  50% {
    margin-top: -111px;
  }
  100% {
    margin-top: 39px;
  }
}

@keyframes third-animation {
  0% {
    margin-top: 39px;
  }
  50% {
    margin-top: -111px;
  }
  100% {
    margin-top: 39px;
  }
}
